@charset "UTF-8";

/*Estilo para impressora*/

* {
    margin: 10px;
    padding: 10px;
}


html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

article::after {
    content: 'esse artigo foi impresso atraves do Bora Bill 2023';
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

article {
    width: 100%;
}