@charset "UTF-8";

@media screen and (min-width:768px) {
    i#burguer{
        display: none;
    }
    
    menu {
        display:block;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 8px;
        
    }

    menu > ul > li > a {
        background-color: rgba(0, 0, 0, 0.678);
        transition: 0.3s;
        border-radius: 5px;
    }

    menu > ul > li > a:hover {
        background-color: white;
        color: black;
        
    }

    main {
        width: 768px;
    }
}