@charset "UTF-8";

/*Versão celular Mobile*/

* {
    margin: 0px;
    padding: 0px;
}
body, html {
    background-color: rgba(211, 211, 211, 0.747);
}

header {
    background-color: gray;
    
}

header > h1 {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

i#burguer {
    background-color: rgb(29, 28, 28);
    color: white;
    text-align: center;
    padding: 10px;
    display: block;
    cursor: pointer;
}

i#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display:none ;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    background-color: rgb(83, 82, 82);
    color: white;
    border-top: 2px solid rgba(128, 128, 128, 0.568);
}

menu > ul > li > a:hover {
    background-color: gray;
}



main {
    width: 90vw;
    background-color: white;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;

}

article > h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 15px;
    line-height: 25px;
    text-indent: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}