@charset "UTF-8";


*{
  margin: 0;
  padding: 0;
  

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div#conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 73, 15);
  height: 300px;
  width: 400px;
  
}

div#filho {
  background-color: rgb(163, 82, 50);
  height: 200px;
  width: 200px;
  transition-duration:2s ;
  transition-timing-function: ease;
 
}



div#filho:hover{
  cursor: pointer;
  border-radius: 50%;
  transform: translateX(400px);

  
}


  

