@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
 }

 body, html {
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
 }

 main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
 }

 section#login {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 540px;
    background-color: white;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 4px 4px 4px  rgba(0, 0, 0, 0.301);

 }

 section#login > div#imagem {
    background-image: url(../images/illustration-hero.svg);
    width: 100%;
    height: 200px;
    background-position: center ;
    background-size: cover;

 }

 div#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
 }

 div#formulario h1 {
    margin-top: 15px;
 }

 div#formulario p#pa {
    margin-top: 10px;
    text-align: center;
    color: rgb(121, 120, 120);
    padding: 0px 10px;
    
 }

 div.plano {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(153, 153, 153, 0.13);
    border-radius: 10px;
    gap: 25px;
    padding: 8px;
    margin-top: 10px;
 }

 div.box {
    display: flex;
    flex-direction: column;
    
 }

 div.box p {
    margin-top: 0px;
    color: gray;
    font-weight: bold;
 }

 div.plano img {
    width: 45px;

 }

 div.plano h2 {
    font-size: 1rem;
 }

 div.plano p {
    font-weight: bold;
 }

 div.plano a:hover {
    text-decoration: none;
    color: black;
 }

 div.botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
 }

 div.botao a#btn1{
    text-decoration: none;
    background-color: rgba(7, 7, 216, 0.993);
    color: white;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    width: 270px;
    margin-top: 10px;
   text-align: center;
   font-size:0.8em;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 }

 div.botao a#btn1:hover{
    background-color: rgba(0, 0, 255, 0.452);
 }

 div.botao a#btn2 {
    text-decoration: none;
    color: gray;
    font-weight: bolder;
    margin-top: 10px;
 }

 div.botao a#btn2:hover {
    color: black;
 }


