@charset "UTF-8";

/*Todas as demais midias*/

/*Typical device Breakpoints
pequenas telas: ate 600px
Celular: de 600px ate 768px
tablet: de 768px ate 992px
Desktop: de 992px ate 1200px
Grandes telas: acima de 1200px
*/

/*Print*/
@media print  {

    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body {
      
    }

        main {
            border: 2px solid black;
        }
        
    main h1 {
        text-shadow: none;
        color: black;
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}

}
/*Tablet*/
@media screen and (min-width:768px) and (max-width:992px) { 
    body {
        background-image: url(../imagens/back-tablet.jpg);
    } 

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

/*Desktop*/
@media screen and (min-width:992px) and (max-width:1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}

/*Tv grandes telas*/
@media screen and (min-width:1200px) {
    body {
        background-image:url(../imagens/back-tv.jpg);
    }

   
    
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}