@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {

    body {
        background-image:linear-gradient(to top,#49a09d, #5f2c82) ;
    }

    section#login-conteiner {
        display: flex;
        width: 80vw;
        height: 390px;
        flex-direction: row-reverse;

    }

   section#login-conteiner> div#imagem {
        height: 100%;
        width: 50%;
        
    }


    div#formulario > p {
        font-size: 1.0em;
    }
    
}

@media screen and (min-width:992px) {

    body {
        background-image:linear-gradient(to top,#49a09d, #5f2c82) ;
    }

    section#login-conteiner {
        width: 80vw;
        display: flex;
        flex-direction: row;

    }

    section#login-conteiner > div#imagem {
        width: 50%;
        height: 100%;
    }

    

    div#formulario > p {
        font-size: 1.1em;
    }
    
}